.info {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1206px;
  white-space: pre-wrap;
  height: 240px;
  h4{
    font-size: 50px;
    text-transform: uppercase;
    line-height: 119%;
  }
  span{
    font-size: 18px;
    line-height: 22px;
  }
  //.textInfo{
  //  max-width: 810px;
  //  height: 100%;
  //
  //}

}